In [50]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('fake_users_data.csv', index_col=0)

In [17]:
features = ['time', 'price', 'route_id', 'age_+45', 'age_0-18', 'age_18-35',
       'age_35-45', 'gender_Hombre', 'gender_Mujer',
       'gender_Prefiero no decirlo', 'type_Historica', 'type_Literaria',
       'type_Patrimonio', 'type_Turistica', 'diff_Alta', 'diff_Baja',
       'comp_Amigos', 'comp_Familia', 'comp_Pareja', 'comp_Solo',
       'trans_Bicicleta', 'trans_Pie']

In [49]:
get_user = np.array((1, 22, 'Mujer', 120, 'Histórica', 'Gratis', 'Baja', 'Solo', 'A pie', '15:00:55.655112'))

NameError: name 'np' is not defined

In [48]:
get_user.shape

AttributeError: 'list' object has no attribute 'shape'

In [45]:
get_user = pd.DataFrame(data = get_user[:-1], index = ['1'], columns = ['age', 'gender', 'time', 'type_route', 'price', 'difficulty',
       'accompaniment', 'transport', 'route_id'])
get_user

ValueError: Shape of passed values is (9, 1), indices imply (1, 9)

In [20]:
user = df.iloc[:1, :]
user

,age,gender,time,type_route,price,difficulty,accompaniment,transport,route_id
0,35-45,Hombre,3.5,Literaria,Gratis,Baja,Pareja,Pie,Contes Blasco Ibañez – Ruta 1

In [21]:
user.columns

Index(['age', 'gender', 'time', 'type_route', 'price', 'difficulty',
       'accompaniment', 'transport', 'route_id'],
      dtype='object')

In [22]:
user = pd.get_dummies(user, prefix=['age', 'gender', 'type', 'diff', 'comp', 'trans'], columns=['age', 'gender', 'type_route', 'difficulty','accompaniment', 'transport'])

In [23]:
user = pd.DataFrame(data = user, columns=features)

In [24]:
user = user.fillna(0)
user

,time,price,route_id,age_+45,age_0-18,age_18-35,age_35-45,gender_Hombre,gender_Mujer,gender_Prefiero no decirlo,...,type_Patrimonio,type_Turistica,diff_Alta,diff_Baja,comp_Amigos,comp_Familia,comp_Pareja,comp_Solo,trans_Bicicleta,trans_Pie
0,3.5,Gratis,Contes Blasco Ibañez – Ruta 1,0.0,0.0,0.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1,0.0,0.0,1,0.0,0.0,1

In [25]:
def mapping(x):
    if x == 'Gratis':
        return 1
    elif x == '1-50 Euros':
        return 2
    elif x == '+50 Euros':
        return 3
    else:
        return 9999

user['price'] = user['price'].apply(mapping)

In [26]:
X = user.drop(columns=['route_id'], axis=1)

In [27]:
import pickle
filename = 'finished_model.pkl'
with open(filename, 'rb') as archivo_entrada:
    model = pickle.load(archivo_entrada)

pred = model.predict(X)

In [28]:
pred

array(['Contes Blasco Ibañez – Ruta 1'], dtype=object)