In [3]:
import pandas as pd
import numpy as np
import pickle

In [4]:
get_user = (1, '35-45', 'mujer', 3.5, 'historica', 'gratis', 'baja', 'solo', 'a pie', '15:00:55.655112')

In [5]:
['+45' 'mujer' '0.5' 'historica' 'gratis' 'alta' 'solo' 'a pie']

['+45mujer0.5historicagratisaltasoloa pie']

In [6]:
get_user = np.array(get_user[1:-1]).reshape(1,8)
get_user

array([['35-45', 'mujer', '3.5', 'historica', 'gratis', 'baja', 'solo',
        'a pie']], dtype='<U32')

In [7]:
get_user = pd.DataFrame(data = get_user, index = ['1'], columns = ['age', 'gender', 'time', 'type_route', 'price', 'difficulty',
       'accompaniment', 'transport'])
get_user

     age gender time type_route   price difficulty accompaniment transport
1  35-45  mujer  3.5  historica  gratis       baja          solo     a pie

In [8]:
get_user = pd.get_dummies(get_user, prefix=['age', 'gender', 'type', 'diff', 'comp', 'trans'], columns=['age', 'gender', 'type_route', 'difficulty','accompaniment', 'transport'])
get_user

,time,price,age_35-45,gender_mujer,type_historica,diff_baja,comp_solo,trans_a pie
1,3.5,gratis,1,1,1,1,1,1

In [9]:
features = ['time', 'price', 'age_+45', 'age_0-18', 'age_18-35',
       'age_35-45', 'gender_hombre', 'gender_mujer',
       'gender_otro', 'route_type_historica', 'route_type_literaria',
       'route_type_patrimonio', 'route_type_turistica', 'diff_alta', 'diff_baja',
       'comp_amigos', 'comp_familia', 'comp_pareja', 'comp_solo', 'trans_a pie', 'trans_bicicleta']

In [10]:
get_user = pd.DataFrame(data = get_user, columns=features)
get_user

,time,price,age_+45,age_0-18,age_18-35,age_35-45,gender_hombre,gender_mujer,gender_otro,route_type_historica,...,route_type_patrimonio,route_type_turistica,diff_alta,diff_baja,comp_amigos,comp_familia,comp_pareja,comp_solo,trans_a pie,trans_bicicleta
1,3.5,gratis,NaN,NaN,NaN,1,NaN,1,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1,1,NaN

In [11]:
get_user = get_user.fillna(0)
get_user

,time,price,age_+45,age_0-18,age_18-35,age_35-45,gender_hombre,gender_mujer,gender_otro,route_type_historica,...,route_type_patrimonio,route_type_turistica,diff_alta,diff_baja,comp_amigos,comp_familia,comp_pareja,comp_solo,trans_a pie,trans_bicicleta
1,3.5,gratis,0.0,0.0,0.0,1,0.0,1,0.0,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0.0,1,1,0.0

In [12]:
def mapping(x):
    if x == 'gratis':
        return 1
    elif x == '1-50':
        return 2
    elif x == '+50':
        return 3
    else:
        return 0

get_user['price'] = get_user['price'].apply(mapping)
get_user

,time,price,age_+45,age_0-18,age_18-35,age_35-45,gender_hombre,gender_mujer,gender_otro,route_type_historica,...,route_type_patrimonio,route_type_turistica,diff_alta,diff_baja,comp_amigos,comp_familia,comp_pareja,comp_solo,trans_a pie,trans_bicicleta
1,3.5,1,0.0,0.0,0.0,1,0.0,1,0.0,0.0,...,0.0,0.0,0.0,1,0.0,0.0,0.0,1,1,0.0

In [ ]:
filename = 'model/log_model.pkl'
with open(filename, 'rb') as archivo_entrada:
    model = pickle.load(archivo_entrada)

In [ ]:
pred = model.predict(get_user)
pred

c:\Users\Paris\anaconda3\envs\desafio\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([14], dtype=int64)